.submission-area {
	margin-top: 20px;
	padding: 20px;
	border-radius: 12px;
	background-color: #C4CFCB;
}

.submission-form {
	padding: 20px;
	border-radius: 12px;
	background-color: #F8F9FA;
}

.submission-form .submission-item {
	border-left: solid 4px;
	border-color: #C4CFCB;
	border-radius: 4px;
	padding-left: 10px;
	
}

.submission-form .smaller {
	font-size: 0.8rem;
}

.submission-form .submit {
	margin-top: 20px;
}

.aviso {
	padding: 20px;
	padding-top: 4px;
	text-align: justify;
	width: 100%;
}


