#home {
	margin-top: 74px;
    display: grid !important;
    grid-template-columns: 1fr;
}

#home div {
 background-color: transparent;
 grid-row-start: 1;
 grid-column-start: 1;
}

.hidden {
	display: none;
}


.background-img, .background picture {
		width: 100vw;
		height: auto;
		margin: 0;
		padding: 0;
}

.background {
	width: 100%;
	height: auto;
}

.background picture {
	margin: 0;
	padding: 0;
}

.banner {
	height: 100%;
}

.banner-image-left {
	margin-top: 60px !important;
	width: 15%;
	margin-left: 80px;
	align-items: center;

}

.banner-image-right {
	width: 50%;
	padding-bottom: 5px;
    align-self: flex-end; /* Garante que a imagem fique na parte inferior */
}

.hero {
    /*     height: 100vh; */
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.button-check-cites {
	margin-top: 30px;
	margin-bottom: 0px;
	width: 30% !important;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
} 

.banner-div {
	width: 100%;
}

 @media screen and (max-width: 920px) { 
	.button-check-cites { 
		width: 70% !important;
	}


 }


 @media screen and (max-width: 768px) { 
	
	#home {
		margin-top: 72px;
    }

	
	
	.button-check-cites { 
		width: 80% !important;
		margin: 0 auto 0 auto; 
	}
	
	.banner-image-left {
		width: 30%;
		margin-top: 0 !important;
		margin-left: -60%;
		
		
	}
	
	.banner-image-right {
		width: 120%;
		margin: 0px 0px;

	}
	
	
	#home .banner {
		flex-direction: column;
		gap: 0px;
	}
	
	
	.banner-div {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 10px;
		
	}
	
	.button-check-cites {
		width: 58% !important;
	} 

	.banner-image-right {
		width: 130%;
		align-items: center;

	}
	
 }
 
 @media  screen and (max-width: 512px) { 
	
	td {
		max-width: 12vw !important;
		font-size: 0.72rem !important;
	}
	
	.banner-div {
		margin-top: 0px;
		padding-top: 5px;
		margin-bottom: 0;
	}
	
	.button-check-cites {
		width: 85% !important;
	} 

	
	
	.banner-image-right {
		width: 140%;
		align-items: center;
		margin: 0px 0px;

	}

	
 }


 
 @media  screen and (max-width: 480px) { 
	
	td {
		font-size: 0.65rem !important;
	}
	.banner-image-left {
		width: 40%;
		margin-right: 0px;
		
	}
	.banner-image-right{

		width: 150%;
		margin: 0px 0px;
	}
	
	
	
 }
 
 @media  screen and (max-width: 410px) { 
  #home {
	margin-top: 60px;
  }
}

@media  screen and (max-width: 380px) { 
	
	#home {
		margin-top: 56px;
    }
	td {
		font-size: 0.58rem !important;
	}
}

@media  screen and (max-width: 364px) { 
	
	#home {
		margin-top: 54px;
    }

}


#participating-cities {
	padding-top: 40px;
}



.municipio{

	border-color: #cba172 !important;
	border-width: 4px !important;
	border-style: solid;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	

}






