.submission-area {
	margin-top: 20px;
	padding: 20px;
	padding-left: 15px;
	border-radius: 12px;
	background-color: #C4CFCB;
}

.checkbox {
	margin-top: 6px;
	margin-right: 10px;
	padding-top: 0px;
}

.submission-form {
	padding: 20px;
	border-radius: 12px;
	background-color: #F8F9FA;
}

.submission-form .submission-item {
	border-left: solid 4px;
	border-color: #C4CFCB;
	border-radius: 4px;
	padding-left: 10px;
	
}

.submission-form .smaller {
	font-size: 0.8rem;
}

.submission-form .submit {
	margin-top: 20px;
}

.aviso {
	padding: 20px;
	padding-top: 4px;
	text-align: justify;
	width: 100%;
}

#enviar{

	transition: 0.5s ease;
	width: 170px;
	text-align: center;
}

#enviar:enabled{

	transition: 0.5s ease;
	border-color: #CCCCCC !important;
	background-color: #6c757d !important;
	color: #DDDDDD;
}

#enviar:enabled:hover{

	transition: 0.5s ease;
	border-color: #EEEEEE !important;
	background-color: #8c959d !important;
	color: #EEEEEE;
}

.checkbox-text{
	margin-bottom: 0px;

}
#checkbox{

	padding-left: 0px;
}

.col-md-6{
	padding-left: 0px;
}

.col-md-4{
	padding-left: 0px !important;
}

.icon{

	margin-bottom: 0px;
	color: red;
}

#smaller{

	margin-bottom: 16px !important;
}

.invalido { 
	border-color: #FF0000 !important;
	color: #FF0000 !important;
}

.input-group-text, #basic-addon1 {
	width: 9.5rem !important;
	text-align: right !important;
	align-items: flex-end !important;
	justify-content: flex-end !important;
}

.texto-proposta {
	display: block;
}

 @media  screen and (max-width: 512px) { 
	.item-form-texto {
		flex-direction: column;
	}
	.input-group-text, #basic-addon1 {
	width: 9.5rem !important;
	text-align: right !important;
	align-items: center !important;
	justify-content: center !important;
	}

	.seletor-municipio {
		width: 100% !important;
	}

	.item-form-texto input {
	width: 100% !important;
	}
	input[type="file"] {
		max-width: 120%;
	}
 }
 
@media  screen and (max-width: 440px) { 
	input[type="file"] {
		font-size: 0.9rem;
	}
}

 @media screen and (max-width: 399px) { 
	.submission-item {
		max-width: 80%;
	}
	input[type="file"] {
		max-width: 140%;
		font-size: 0.72rem;
	}
 }
 

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
