@import url('../css/botao-flutuante.css');
@import url('../css/navegacao.css');
@import url('../css/home.css');
@import url('../css/rodape.css');
@import url('../css/modal.css');
@import url('../css/inscricao.css');
@import url('../css/patrocinio.css');
@import url('../css/programacao.css');
@import url('../css/termo.css');
@import url('../css/resolucao-mobile.css');
@import url('../css/galeria.css');
@import url('../css/noticias.css');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
	max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*PADDING BOOTSTRAP PERSONALIZADO PARA AS SEÇÕES*/
.py-section{
    padding-top: 24px;
    padding-bottom: 48px;
}

.py-section .container{
    margin-top: 24px;
}

.container{
    max-width: 1405px;
}

